/.nova/
/vendor/
.htaccess
index.php
setup/
application/config/database.php
*.log
application/views/invoice_templates/pdf/InvoicePlane - overdue.php
application/views/invoice_templates/pdf/InvoicePlane - paid.php
application/views/invoice_templates/pdf/InvoicePlane.php
application/views/invoice_templates/public/InvoicePlane_Web.php
.DS_Store